<ion-list inset>
  <ion-list-header>{{header}}</ion-list-header>
  <ng-container *ngFor="let item of items; index as i">
    <button ion-item  (click)="closeOrExpand(item,i)">
      <p detail-push>{{item.title}}</p>
    </button>
    <ion-list inset *ngIf="submenus[i]==1" >
      <button detail-none ion-item *ngFor="let sub of item?.submenu" (click)="close(sub,i)">
        <p  class="submenu">{{sub.title}}</p>
      </button>
    </ion-list>
  </ng-container>
</ion-list>

