<!--
  Generated template for the QrStudentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QrStudent</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="!createdCode">
    <ion-card>
      <h3 class="instructions">Enter in the the following information, and then find an instructor to check you in.</h3>
      <h1>Please enter in the amount that you'll be paying today:</h1>
      <ion-card-content>
        <ion-input text-center type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" [(ngModel)]="amount"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label floating>This payment will be for what date?</ion-label>
        <ion-select [(ngModel)]="selectedDate" (ionChange)="selectPeriod($event)" interface="action-sheet">
          <ion-option *ngFor="let period of options" value="{{period}}">{{period}}</ion-option>
        </ion-select>
      </ion-item>
      <h2>{{selectedDate}}</h2>
    </ion-card>
    <button ion-button full (click)="enterVal()">Enter Value</button>
  </div>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{createdCode}}</p>
    </ion-card-content>
    <button ion-button full (click)="done()">Done</button>
  </ion-card>


</ion-content>
