<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="toolbar-background">
      <ion-title>Salsa Connect Login</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="getstart">
    <div>
        <img class="main_pic" src="assets/imgs/FSD Logo5.png">
    </div>
  
    <!-- <div>
        <img *ngIf="pointerAnim" class="arrow" src="assets/imgs/left-arrow.svg">
      <ion-fab edge left class="fab-container" (click)="stopAnim()">
        <button ion-fab mini class="fabButton">Log in
        </button>
        <ion-fab-list class="ion-fab-list-container"> -->
        
          <form [formGroup]="todo" (ngSubmit)="submitted()" class="login-container">
            <ion-item>
              <ion-label>email</ion-label>
              <ion-input type="text" formControlName="email_form" [(ngModel)]="email_var"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" formControlName="password_form" [(ngModel)]="password_var"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Remember Me</ion-label>
              <ion-checkbox [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" (ionChange)="clear()"></ion-checkbox>
            </ion-item>
            <div class="center_submit_button">
              <button ion-button color="secondary" type="submit" [disabled]="!todo.valid">Sign In</button>
            </div>
          </form>
          <!-- <button ion-button (click)="signInGooglePopup()">Sign In With Google Popup</button><br>
              <button ion-button (click)="signInGoogleRedirect()">Sign In With Google Redirect</button><br> -->
          <!-- <button ion-button (click)="signOut()">Sign Out</button> -->
          <div class="login-container">
          <button ion-button color="secondary" (click)="register()">Register New Account</button>
          <br>
          <button ion-button color="secondary" (click)="forgotPassword()">I forgot my password!!!</button>
        </div>
        <!-- </ion-fab-list>
      </ion-fab>
    </div> -->
    <ng-container *ngIf="user">{{user.displayName}}</ng-container>
  
    <!-- <div>
      <span class="left_top">1</span>
      <span class="middle_top">2</span>
      <span class="right_top">3</span>
    </div> -->
  
    <!-- <section>
      <img class="bottom" src="https://placeimg.com/640/480/nature">
      <img class="top" src="https://placeimg.com/640/480/arch">
      <img class="middle" src="https://placeimg.com/640/480">
    </section> -->
  
  
    <!-- private pic1 = "assets/imgs/IMG-0378.png"; Marlena and Nelson
    private pic2 = "assets/imgs/IMG_0404.png"; Yolanda and Nelson
    private pic3 = "assets/imgs/WillMitsi.png"; Me and Mits -->
  
    <!-- <section>
      <img class="bottom" [src]="pic1">
      <img class="middle" [src]="pic2">
      <img class="top" [src]="pic3">
    </section> -->
  
    <!-- <div class="bottom_row">
    <span class="left_bottom">5</span>
    <span class="middle_bottom">6</span>
    <span class="right_bottom">7</span>
  </div> -->
    <div *ngIf="password_var=='MMMMPPP'">
      <button class="onTop" ion-button color="secondary" (click)="gotoHome()">Developer's Page</button>
    </div>
  
  </ion-content>
  