page-login {

  .onTop{
    z-index: 999;

  }
  .header-style{
      color:white;
      //background-color:rgba(190,0,52,1) !important;
      text-align:center;
  }

.toolbar-background {
    background-color: color($colors, primary);
    color: color($colors, light);
    //background: linear-gradient(to bottom right,color($colors, danger),color($colors, primary));
  }

  .toolbar-title {
    color: color($colors, light);
  }

  .main_pic {
    margin-top:10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: block;
  }
  
  .getstart {
         //background-image: url('../assets/imgs/Color-Codes-Background.jpg');
        background-color:color($colors, light);
        //  background-position: center;
        //  background-size: 1500px
  }

  .fab-container {
    position: absolute;
    top: 1%;
    width: 90%;
  }

  .fabButton {
    border-width: 1px;
    border-color: color($colors, danger);
    border-style: solid;
  }

  .arrow {
    width: 50px;
    z-index: 100;
    position: relative;
    top: 5px;
    left: 1000px;
    animation: 2s arrowAnim normal; 
    animation-delay: 15s;            //////////////////////////////////////////////////
    animation-fill-mode: forwards;
  }

  @keyframes arrowAnim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-950px);
    }
  }


  .center_submit_button {
    text-align: center;
    margin-top:5vh;
  }

  .ion-fab-list-container {
    text-align: center;
    transform: translateX(5vw);
  }

  .login-container{
    text-align: center;
  }

  .left_top {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim1 infinite;
    color: color($colors, dark);
  }
  .middle_top {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim2 infinite;
    color: color($colors, secondary);
  }
  .right_top {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim3 infinite;
    color: color($colors, dark);
  }

  .left_bottom {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim5 infinite;
    color: color($colors, dark);
  }
  .middle_bottom {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim6 infinite;
    color: color($colors, dark);
  }
  .right_bottom {
    margin-left: 20%;
    font-size: 2em;
    animation: 4s countAnim7 infinite;
    color: color($colors, dark);
  }

  @keyframes countAnim1 {
    0% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    12.5% {
      opacity: 1;
      color: color($colors, light);
    }
    25% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    37.5% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    62.5% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    87.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes countAnim2 {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    25% {
      opacity: 1;
      color: color($colors, light);
    }
    37.5% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    50% {
      opacity: 0;
    }
    62.5% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    87.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes countAnim3 {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 0;
    }
    25% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    37.5% {
      opacity: 1;
      color: color($colors, light);
    }
    50% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    62.5% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    87.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes countAnim5 {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    37.5% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    62.5% {
      opacity: 1;
      color: color($colors, light);
    }
    75% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    87.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes countAnim6 {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    37.5% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    62.5% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    75% {
      opacity: 1;
      color: color($colors, light);
    }
    87.5% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes countAnim7 {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    37.5% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    62.5% {
      opacity: 0;
    }
    75% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
    87.5% {
      opacity: 1;
      color: color($colors, light);
    }
    100% {
      opacity: 0.1;
      color: color($colors, secondary);
    }
  }

  .bottom_row {
    transform: translateY(500px);
  }

  section {
    position: relative;
    top:10%;
  }

  section img {
    position: absolute;
    border-width: 4px;
    border-color: rgba(0, 0, 255, .2);
    border-style: ridge;
  }

  .bottom {
    border-radius: 10px;
  }

  .top {
    animation-name: fadetop;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    //animation-direction: alternate;
    border-radius: 10px;
  }

  .middle {
    animation-name: fademiddle;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    //animation-direction: alternate;
    border-radius: 10px;
  }

  @keyframes fadetop {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fademiddle {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
