<ion-header>

  <ion-navbar>
    <ion-title>Create Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="headline">
    <h1>Create User Profile</h1>
  </div>


  <form [formGroup]="todo1" (ngSubmit)="submitted()">
    <ion-item class="thisForm upper">
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" formControlName="firstName_form" [(ngModel)]="firstName_var"></ion-input>
    </ion-item>
    <ion-item class="thisForm">
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" formControlName="lastName_form" [(ngModel)]="lastName_var"></ion-input>
    </ion-item>
    <ion-item class="thisForm">
      <ion-label floating>phone number</ion-label>
      <ion-input type="tel" formControlName="phone_form" [(ngModel)]="phone_var"></ion-input>
    </ion-item>
    <ion-item class="thisForm">
      <ion-label floating>Birthday</ion-label>
      <!-- <ion-input  formControlName="birthday_form" class="hotfix" ></ion-input> -->
      <ion-datetime formControlName="birthday_form" (ionChange)="dateChanged($event)" displayFormat="MMMM D"></ion-datetime>
      <!-- [min]="minimumIssueDate" -->
    </ion-item>
    <ion-item class="thisForm">
      <ion-label floating>How did you hear about us?</ion-label>
      <ion-input type="textarea" formControlName="referral_form" [(ngModel)]="referral_var"></ion-input>
    </ion-item>
    <ion-item class="thisForm">
      <ion-label floating>
        <p>What class level are you?</p>
      </ion-label>
      <ion-select formControlName="class_form" (ionChange)="selectState($event)" [(ngModel)]="class_var" interface="action-sheet">
        <ion-option *ngFor="let level of classes.levels" value="{{level.id.shortName}}">
          <p>{{level.name}}</p>
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="thisForm">
      <textarea #myInput id="myInput" rows="1" maxLength="500" placeholder="Bio: Enter something about you!" (keyup)="resize()"
        [(ngModel)]="bio_var" [ngModelOptions]="{standalone: true}">
      </textarea>
    </ion-item>

    <!-- <ion-item text-wrap class="thisForm upper bio">
    <div contenteditable>
      <strong class="grey" contenteditable="false" >Bio: &nbsp; </strong>
      <p contenteditable="true" 
      [textContent]="bio_var" (input)="bio_var=$event.target.textContent"
      (click)="bio_change()" 
      [ngClass]="(bio_var == 'Enter something about you!') ? 'highlighted' : 'normal'">
    </p>
    </div>
    </ion-item> -->


    <div class="button_container">
      <p class="dark_text">
        <u>Create profile picture:</u>
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button type="button" (click)="presentPhotoWarning('camera')">From Camera</button>
          </ion-col>
          <ion-col>
            <button ion-button type="button" (click)="presentPhotoWarning('gallery')">From Gallery</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="base64Image">
      <p>Selected profile photo:</p>
      <img [src]="base64Image" />
    </div>

    <div class="button_container2">
      <button ion-button type="submit" color="secondary" [disabled]="!enableIt || !todo1.valid">Submit your profile!</button>
    </div>
  </form>


  <!-- {{ todo1.controls['firstName_form'].valid }}
  {{ todo1.controls['lastName_form'].valid }}
  {{ todo1.controls['phone_form'].valid }}
  {{ todo1.controls['birthday_form'].valid }}
  {{ todo1.controls['referral_form'].valid }}
  {{ todo1.controls['class_form'].valid }}

  {{todo1.valid}} -->




  <!-- [(ngModel)]="beer" -->


  <!-- <p>Latest Picture:</p>
  <img width="240" [src]="base64Image" *ngIf="base64Image" /> -->

</ion-content>
