<!--
  Generated template for the RestrictVideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enable Routines</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div>
    <p class = "header">These students will have their routines updated:</p>
    <ion-scroll class="scrollerName" scrollY="true">
      <ion-list scroll="true">
        <ion-item *ngFor="let item of target">
          <div>{{item.displayName}}</div>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </div>

<ion-scroll class="scrollerSelect" scrollY="true">
  <ion-item>
    <ion-label> 1st Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[0]" checked="false" (ionChange)="restrictIt(1,toggles[0])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 2nd Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[1]" checked="false" (ionChange)="restrictIt(2,toggles[1])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 3rd Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[2]" checked="false" (ionChange)="restrictIt(3,toggles[2])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 4th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[3]" checked="true" (ionChange)="restrictIt(4,toggles[3])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 5th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[4]" checked="false" (ionChange)="restrictIt(5,toggles[4])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 6th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[5]" checked="false" (ionChange)="restrictIt(6,toggles[5])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 7th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[6]" checked="false" (ionChange)="restrictIt(7,toggles[6])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 8th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[7]" checked="false" (ionChange)="restrictIt(8,toggles[7])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 9th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[8]" checked="false" (ionChange)="restrictIt(9,toggles[8])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 10th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[9]" checked="false" (ionChange)="restrictIt(10,toggles[9])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 11th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[10]" checked="false" (ionChange)="restrictIt(11,toggles[10])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 12th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[11]" checked="false" (ionChange)="restrictIt(12,toggles[11])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 13th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[12]" checked="false" (ionChange)="restrictIt(13,toggles[12])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 14th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[13]" checked="false" (ionChange)="restrictIt(14,toggles[13])"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 15th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[14]" checked="false" (ionChange)="restrictIt(15,toggles[14])"></ion-toggle>
  </ion-item>

</ion-scroll>

</ion-content>
