<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="main_container">


  <div class="flex_container">
    <div class="button_box">
      <button ion-button large [disabled]="disable_button" (click)="gotoVideoPicker()">
        <div>
          <ion-icon name="camera"></ion-icon>
          <p>Routines</p>
        </div>
      </button>
    </div>
    <!-- <div class="button_box">
    <button ion-button large (click)="gotoPay()">
      <ion-icon name="ios-barcode-outline"></ion-icon>
    </button>
    <p>Sign-in and Pay</p>
  </div>
  <div class="button_box">
    <button ion-button large (click)="gotoScan()">
      <ion-icon name="ios-qr-scanner"></ion-icon>
    </button>
    <p>Scan Code</p>
  </div> -->
    <!-- <div class="button_box">
    <button ion-button large disabled (click)="gotoCalendar()">
      <ion-icon name="calendar"></ion-icon>
    </button>
    <p>Calendar</p>
  </div> -->
    <div class="button_box">
      <button ion-button large [disabled]="disable_button" (click)="gotoAccounts()">
        <div>
          <ion-icon name="chatbubbles"></ion-icon>
          <p>Community</p>
        </div>
      </button>
    </div>
    <!-- <div class="button_box">
    <button ion-button large disabled (click)="gotoStudentOfTheWeek()">
      <ion-icon name="trophy"></ion-icon>
    </button>
    <p>Feedback</p>
  </div> -->
    <div class="button_box">
      <button ion-button large [disabled]="disable_button" (click)="gotoAccount()">
        <div>
          <ion-icon name="cog"></ion-icon>
          <p>Admin</p>
        </div>
      </button>
    </div>

    <div class="button_box">
      <button ion-button large [disabled]="disable_button" (click)="signOut()">
        <div>
          <ion-icon name="exit"></ion-icon>
          <p>Sign Out</p>
        </div>
      </button>

    </div>
    <div class="button_box">

      <!-- <button ion-button class="btn_upper_left" [disabled]="disable_button" (click)="showVersion()"> -->
          <button ion-button class="btn_upper" [disabled]="disable_button" (click)="showVersion()">
        <div>
          <ion-icon class="small_icon" name="git-compare"></ion-icon>
          <p class="small_p">App Version</p>
        </div>
      </button>
      <!-- <button ion-button class="btn_upper_right" [disabled]="disable_button" (click)='openWithBrowserTab(config.facebook)'>    -->
          <button ion-button class="btn_lower" [disabled]="disable_button" (click)='openWithBrowserTab(config.facebook)'> 
        <div>
          <ion-icon class="small_icon" name="logo-facebook"></ion-icon>
          <p class="small_p">Facebook</p>
        </div>
      </button>
      <!-- <button ion-button class="btn_lower_left" [disabled]="disable_button" (click)='openWithBrowserTab(config.news)'>
        <div>
          <ion-icon class="small_icon" name="easel"></ion-icon>
          <p class="small_p">News</p>
        </div>
      </button>
      <button ion-button class="btn_lower_right" [disabled]="disable_button" (click)="showVersion()">
        <div>
          <ion-icon class="small_icon" name="chatboxes"></ion-icon>
          <p class="small_p">Chat</p>
        </div>
      </button> -->
    </div>

    <div class="button_box">
      <button color="fourth" ion-button large (click)="showFeedback()">
        <div>
          <ion-icon name="happy"></ion-icon>
          <p>Feedback</p>
        </div>
      </button>
    </div>

  </div>
</ion-content>
