page-landing {


  ion-icon {
    font-size: 3.2em;
  }


  .button_box {
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: row; //column
    flex-wrap: wrap;
  }

  .flex_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
  }

  .main_container {
    background-color: color($colors, light);
    color: color($colors, secondary);
  }

  .button-large-md {
    height: 25vh;
    width: 40vw;
    font-size: 5vh;
    border-radius: 20px;
    //padding: 0 1em;
  }

  .button-large-ios {
    height: 25vh;
    width: 40vw;
    font-size: 5vh;
    border-radius: 20px;
    //padding: 0 1em;
  }

  .btn_upper {
    height: 12vh;
    width: 40vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn_lower {
    height: 12vh;
    width: 40vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .btn_upper_left {
    height: 12vh;
    width: 19vw;
    margin-left: 0;
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 1vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn_upper_right {
    height: 12vh;
    width: 19vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1vh;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn_lower_right {
    height: 12vh;
    width: 19vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
  }

  .btn_lower_left {
    height: 12vh;
    width: 19vw;
    margin-left: 0;
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
  }



  /* Larger than a phone */
  @media (min-width: 824px) {
    @media (orientation: portrait) {
      .small_icon {
        font-size: 8vw;
        margin-bottom: 4px;
        margin-top: 20px;
      }

      .small_p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 4vw;
      }

      p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 5vw;
      }

      ion-icon {
        font-size: 3.2em;
      }
    }

    @media (orientation: landscape) {
      .small_icon {
        font-size: 4vw;
        margin-bottom: 4px;
        margin-top: 20px;
      }

      .small_p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 3vw;
      }

      p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 4vw;
      }

      ion-icon {
        margin-top: 20px;
        font-size: 2.7em;
      }
    }
  }

  /* Small devices such as phone */
  @media (max-width: 824px) {
    @media (orientation: portrait) {
      .small_icon {
        margin-top: 20px;
        font-size: 8vw;
        margin-bottom: 4px;
      }

      .small_p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 4vw;
      }

      p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 5vw;
      }

      ion-icon {
        font-size: 3.2em;
      }
    }

    @media (orientation: landscape) {
      .small_icon {
        font-size: 3vw;
        margin-bottom: 2px;
        margin-top: 15px;
      }

      .small_p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 2vw;
      }

      p {
        margin-top: 0;
        color: color($colors, secondary);
        font-size: 4vw;
      }

      ion-icon {
        margin-top: 20px;
        font-size: 2.4em;
      }
    }
  }

}
