<!--
  Generated template for the VideoPickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header_local">

  <ion-navbar color="primary">
    <ion-title>Select a Routine</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="global_home_background card-background-page" padding>
  <ion-row wrap>
    <ng-container *ngFor="let routine of videoPermissionArray; let i = index;">
      <ion-col>
        <ion-card *ngIf="routine" (click)="goToRoutine(routine);">
          <img *ngIf="routine" [src]="'assets/imgs/' + routine + '.jpg'" />
          <ion-card-header class="card-title">
            {{routine}}
          </ion-card-header>
          <ion-card-content class="card-subtitle">
            <!-- Add card content here! -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>
