<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2>Requests Routines and Give Us Feedback!</h2>
  <br>
  <p>Salsa Connect is a labor of love and is currently a work in progress. </p> 
  <p></p>
  <p>Please send us requests here for access to our 15 routines.  We'd like to make sure that everyone is able to access the routines that they've already learned. You can also ask your Instructor to enable them as well!</p>
  <p></p>
  <p>Also, if you have anything you'd like to see in the app, it would help us tremendously if you could take a moment to send us feedback, or the classes in general. Thanks so much for taking a moment to help us out!</p>

  <button block class="buttony" ion-button (click)="sendIt()">Send Feedback Email</button>

</ion-content>
