page-user-info {

    .picture_box{
        text-align: center;
        //background: wheat;
        width: 100%;
        overflow: hidden; /* Prevent overflowing of nested elements */
        border-syle: solid;
        border-width: 50px;
        border-color: color($colors, primary);
        
    }

    .rotate90{
        display: block !important;
        transform: rotate(90deg) !important;
        margin: 50px auto !important; /* account for 100px width/height difference */
        border-radius : 25px;
        border-syle: solid !important;
        border-width: 50px !important;
        border-color: color($colors, primary) !important;
    }

    .rotateNeg90{
        display: block !important;
        transform: rotate(-90deg) !important;
        margin: 50px auto !important; /* account for 100px width/height difference */
        border-radius : 25px;
        border-syle: solid;
        border-width: 50px;
        border-color: color($colors, primary);
    }

    .noRotate{
        border-radius : 25px;
        border-syle: solid !important;
        border-width: 50px !important;
        border-color: color($colors, primary) !important;
    }

    .text_container{
        padding: 20px;
    }

    .admin{
        text-decoration: underline;
        margin-botton:0px;
        
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
            
    }

    .admin-child{
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    a{
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

}
