<!--
  Generated template for the UserInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <button small ion-button (click)="dismiss()">Dismiss</button>{{user.displayName}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="picture_box">
    <img [class]="picClass" [src]="user.profile_pic" />
  </div>
  <div class="text_container">
    <p>birthday: {{birthday}} </p>
    <p>Class: {{user.currentClass.shortName}}</p>
    <p>Bio: {{user.bio}}</p>
    <span *ngIf="admin">
      <p class="admin"> Administrator only viewable info:</p>
      <p class="admin-child">Permission Level: {{user.permissions}} <br />
      Referral: {{user.referral}} <br />
      Telephone: <a [href]="'tel:' + user.telephone">{{user.telephone}}</a> <br />
      Email: {{user.email}}</p>
    </span>
  </div>



</ion-content>
