<ion-header>

  <ion-navbar no-border-top>

    <ion-buttons start>
      <button ion-button icon-only solid *ngIf="admin"  (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{pageName}}</ion-title>

    <ion-buttons end>
      <button solid ion-button item-right (click)="reset()" >Reset</button>
    </ion-buttons>

  </ion-navbar>










  <!-- <ion-toolbar no-border-top>
    <ion-buttons start>
      <button ion-button icon-only solid>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Solid</ion-title>
    <ion-buttons end>
      <button ion-button icon-end solid color="secondary">
        Help
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> -->






  <ion-searchbar [(ngModel)]="searchInput" block color="primary" [debounce]="500" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>
<ion-content no-padding>
  <!-- <ion-grid *ngIf="gridDisplay"> -->
  <!-- <ion-row *ngFor="let row of gridDisplay ; index as i"> -->
  <!-- <ion-col width-50 *ngFor="let user of row; index as j"> -->

  <!-- *ngIf="user?.firstName" -->
  <!-- [style.background-color]="myBgColor[i]" (click)="selected($event,user,i)" -->
  <div *ngIf="gridDisplay">
    <ion-card *ngFor="let user of gridDisplay; index as i" [class]="myBgColor[i]" tappable (click)="selected($event,user,i)">
      <ion-item>
        <ion-avatar item-left [style.transform]=user.rotate>
          <img item-left [src]="user.profile_pic" />
        </ion-avatar>
        <p [class]="myBgColor[i]">{{user.displayName}}</p>
        <p [class]="myBgColor[i]">{{user.currentClass.shortName}}</p>
        <p item-right>
          <button ion-button full (click)="showInfo($event,user)">Info</button>
        </p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
