page-accounts-show {
    
    div.popover-content{
        width: 75vw;
    }

    .info_container{
        border-width:2px;
        border-color: color($colors, primary);
    }

    // #menu{
    //     background-color:color($colors, primary) !important;
    // }

    // .card {
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    //     margin-left:0px;
    //     margin-right:0px;
    //     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    //     margin: 0px;
    //     padding: 0px;
    //     border-style: solid;
    //     border-width: 1px;
    //     }

        

    // ion-card{
    //     margin-left:0px;
    //     margin-right:0px;
    //     background-color: green;
    // }

    // ion-card-content {
    //     display: block;
    //     display: -webkit-box;
    //     //height: 60px;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     padding-bottom:0px !important;
    //     padding-top:0px !important; 
    //     padding-left:4px !important;
    //     padding-right:4px !important;
    // }

    // ion-card-title {
    //     display: block;
    //     display: -webkit-box;
    //     height: 20px;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     padding-bottom:0px !important;
    //     padding-top:0px !important;
    // }

    // ion-thumbnail{
    //     margin:0 !important;
    // }

    .boobs{
        background-color:green;
    }

    .rotate90{
        transform: rotate(90deg);
    }


    .rotate-90{
        transform: rotate(-90deg);
    }

    .searchbar-md{
        margin:0px !important;
        padding: 0px !important;
    }

    // .card-md{
    //     width:100%
    // }

    .label-md{
        margin:0px !important;
        padding: 0px !important;
    }

    .label-ios{
        margin:0px !important;
        padding: 0px !important;
    }

    .item-md ion-avatar[item-left]{
        margin:0px;
        background-color:transparent !important;
    }

    .item-ios ion-avatar[item-left]{
        margin:0px;
        background-color:transparent !important;
    }

    .unselected{
        background-color:color($colors, light); //!important;
        color: color($colors, secondary);
        font-size:1.2em;
    }

    .selected{
        background-color:color($colors, primary); //!important;
        color: color($colors, whitey);
        font-size:1.6em;
        font-style: strong;
        
    }
    // .rotate{
    //     transform: rotate(180deg);
    // }

    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
        margin:5px;
        background-color:transparent !important;
    }

    .item-ios [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
        margin:5px;
        background-color:transparent !important;
    }

    .item-md{
        background-color:transparent;
    }

    .item-ios{
        background-color:transparent;
    }

    // ion-avatar img  {
    //     // width:100% !important;
    //     // height : 100% !important;
    //     // max-width: 70px !important;  //any size
    //     // max-height: 70px !important; //any size 
    //     font-size: 100px;
    //     }

    
}
