<ion-header>
  <ion-navbar>
    <ion-title>
      Developer's Corner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  ***DEVELOPMENT SCREEN***
  <div>
    <button ion-button (click)="gotoNews();">
        <p>News</p>
      </button>
    <button ion-button (click)="gotoLogLogin();">
      <p>Login Log</p>
    </button>
    <button ion-button (click)="gotoAdmin();">
      <p>Administration Log</p>
    </button>
    <button ion-button (click)="gotoScratch();">
      <p>Scratch Page</p>
    </button>
    <button ion-button (click)="gotoSwiper();">
      <p>Swiper Page</p>
    </button>
    <button ion-button (click)="gotoUserManagement();">
      <p>User Management page</p>
    </button>
    <button ion-button (click)="gotoRestrictBrowser();">
      <p>File Browser Page</p>
    </button>
    <button ion-button (click)="gotoLocalVideo();">
      <p>File Browser 2 Page</p>
    </button>
    <button ion-button (click)="gotoLanding();">
      <p>Landing Page</p>
    </button>
    <button ion-button (click)="gotopicker();">
      <p>Video Picker Page</p>
    </button>
    <button ion-button (click)="gotoSlide();">
      <p>SlideShow</p>
    </button>
    <button ion-button (click)="gotoAccountsEntry();">
      <p>Accounts Entry</p>
    </button>

    <button ion-button (click)="gotoRoutine();">
      <p>Routine Page</p>
    </button>
    <button ion-button (click)="gotoflex();">
      <p>flexbox Page</p>
    </button>

    <button ion-button (click)="gotoVideo4();">
      <p>Video 4 Page</p>
    </button>
    <button ion-button (click)="gotoVideo();">
      <p>Video Page</p>
    </button>
    <button ion-button (click)="gotoVideo2();">
      <p>Video 2 Page</p>
    </button>
    <button ion-button (click)="gotoVideo3();">
      <p>Video 3 Page</p>
    </button>
    <button ion-button (click)="gotoProfile();">
      <p>Create Profile Page</p>
    </button>
    <button ion-button (click)="gotoAccounts();">
      <p>Accounts Pages</p>
    </button>
    <button ion-button (click)="gotoRestrictVideo();">
      <p>Restrict Video Page</p>
    </button>
    <button ion-button (click)="gotologin();">
      <p>Login Page</p>
    </button>
    <button ion-button (click)="gotoSignUp();">
      <p>Sign Up Page</p>
    </button>

    <button ion-button (click)="gotoComponentTest();">
      <p>Component Test</p>
    </button>
    <button ion-button (click)="gotoQR();">
      <p>QR Test</p>
    </button>
    <button ion-button (click)="gotoQRS();">
      <p>Student Pay Page</p>
    </button>
    <button ion-button (click)="gotoQRI();">
      <p>Instructor Pay Page</p>
    </button>

  </div>
</ion-content>
