
<ion-header class="neon_container">

  <ion-navbar class="neon_container" > 
    <ion-title ><p id="neon">{{name}}</p></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="global_home_background" no-padding>

  
      <!-- <button ion-button (click)="toggleShowVids()">showVids</button> -->
  <div class = "video_container" *ngIf="showStream">
      <video  id="stream" controls="controls" preload="metadata" controlsList="nodownload" webkit-playsinline="true" playsinline="true"
      class="center-simple videoplayer">
      <source [src]="vidStreamURL" type="video/mp4" webkit-playsinline="true" playsinline="true">
    </video>
  </div>    

  <div class = "video_container" *ngIf="showVids">

    <video [hidden]="selectedView !=='-oldCam_1'" id="-oldCam_1" controls="controls" preload="metadata" controlsList="nodownload" webkit-playsinline="true" playsinline="true"
      class="center-simple videoplayer">
      <source [src]="videoURL[0]" type="video/mp4" webkit-playsinline="true" playsinline="true">
    </video>

    <video [hidden]="selectedView !=='-android_1'" id="-android_1" controls="controls" preload="metadata" controlsList="nodownload" webkit-playsinline="true" playsinline="true"
      class="center-simple videoplayer">
      <source [src]="videoURL[1]" type="video/mp4" webkit-playsinline="true" playsinline="true">
    </video>

    <video [hidden]="selectedView !=='-iphone_1'" id="-iphone_1" controls="controls" preload="metadata" controlsList="nodownload" webkit-playsinline="true" playsinline="true"
      class="center-simple videoplayer">
      <source [src]="videoURL[2]" type="video/mp4" webkit-playsinline="true" playsinline="true">
    </video>

    <video [hidden]="selectedView !=='-overhead_1'" id="-overhead_1" controls="controls" preload="metadata" controlsList="nodownload" webkit-playsinline="true" playsinline="true"
      class="center-simple videoplayer">
      <source [src]="videoURL[3]" type="video/mp4" webkit-playsinline="true" playsinline="true">
    </video>

  </div>

  <div class = "button_container" *ngIf="showVids">
    <ion-icon name="add" (click)="vidSpeedUpSaved()" class="speed_button"></ion-icon>
    <button class="cam_button" ion-button color="light" small round (click)="buttonView('-oldCam_1')">Front</button>
    <button class="cam_button" ion-button color="light" small round (click)="buttonView('-android_1')">Back</button>
    <button class="cam_button" ion-button color="light" small round (click)="buttonView('-iphone_1')">Angle</button>
    <button *ngIf="!threeVids" class="cam_button" ion-button color="light" small round (click)="buttonView('-overhead_1')">Over</button>
    <ion-icon name="remove" (click)="vidSpeedDownSaved()" class="speed_button"></ion-icon>
  </div>
  <div *ngIf="debug">
    {{videoURL}}
    <!-- {{newvid.playbackRate}} -->
  </div>

  
  <ion-content nopadding scroll="true" class="steps_table_container" >

    <table border="1">
      <tr (click)="clicked_table()">
        <th>#</th>
        <th>Beats</th>
        <th>Description</th>
      </tr>
      <ng-container *ngFor="let gut of tableguts;">
        <tr >
            <th>{{gut[0]}}</th>
            <th>{{gut[1]}}</th>
            <th *ngIf = "gut[3]" (click)="skipVid(gut[3])">{{gut[2]}}</th>
            <th *ngIf = "!gut[3]">{{gut[2]}}</th>
          </tr>
      </ng-container>

    </table>
  </ion-content>
  <ng-container *ngIf="showAuds">
      <p id="audio_header">Audio Call-Out</p>
    <div class = "audio_container">
        <ion-icon name="add" (click)="audSpeedUp()" class="speed_button"></ion-icon>
         <audio  id="audio" controls controlsList="nodownload">
      <!-- <source [src]="audioURL[0]" type="audio/mpeg"> -->
      <source [src]="audStreamURL" type="audio/mpeg">  
    </audio>
    <ion-icon name="remove" (click)="audSpeedDown()" class="speed_button"></ion-icon>
    </div>
    
    
    <div *ngIf="debug">
      {{audioURL}}
      {{audioURL[0]}}
      {{audStreamURL}}
      
      <button ion-button (click)="displayAudio()">displayAuds</button>
      <button ion-button (click)="toggleShowVids()">displayVids</button>
      <button ion-button (click)="updateNewvid()">update newvid</button>
    </div>
  </ng-container>
</ion-content>
