<!--
  Generated template for the SlideshowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>An Overview</ion-title>
  </ion-navbar>
  <button color="secondary" block ion-button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-header>

    


<ion-content padding>
    
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">

    <ion-slide>
        <h3>Welcome to Salsa Connect!</h3>
        <br>
      <div>
        <img class="pic1" src="assets/imgs/slide_Landing.png">
      </div>
      <div class="text_box">
        <br>
        
        <p>
          These are two areas that you'll use most: Routines and Community </p>

          <br><br><br>
      </div>

    </ion-slide>

    <ion-slide>
        <h4>Accessing Routines</h4>
      <div>
        <img class="pic2" src="assets/imgs/slide_Picker.png">
      </div>
      <div class="text_box">
        <p>To get access to more routines, talk to your instructor or send us a request directly via the app!</p> 
        <br><br><br>
        </div>
    </ion-slide>

    <ion-slide>
        <h3>Routine Page</h3>
        <div>
            <img class="pic3" src="assets/imgs/slide_Routine_three.png">
          </div>
          <div class="text_box">
            <p>Each Routine page is divided into three sections: <b>Video Controls</b>, the <b>Call-Out Table</b> and <b>Audio Controls.</b></p>
          </div><br><br><br><br><br>
    </ion-slide>

    <ion-slide>
        <h4>Video Controls</h4>
        <br>
      <div class="text_box">
          <img class="pic4" src="assets/imgs/slide_camera_angles.png">
        </div>
        <br>
        <div class="text_box">
            <p>The video controls are composed of four camera angles and two speed controls.</p>
             <br>
             <p> Note: video controls will <b>not</b> be shown the first time you enter a routine page. They will appear after all video files have been downloaded to your phone.</p>
          </div><br>
  </ion-slide>

  <ion-slide>
      <h4>The Call-Out Table</h4>
      <br>
    <div>
        <img class="pic5" src="assets/imgs/slide_table.png">
      </div>
      <div class="text_box">
        <p>The call-out table shows all of the call-outs given in the video.</p> 
        <br>
        <p> Additionally, you can press the call-out on "1, 2, 3" (shown in blue) to go immediately to that point in the video</p>
      </div>
      <br><br><br>
</ion-slide>

<ion-slide>
    <h4>Audio Controls</h4>
    <br>
  <div>
      <img class="pic6" src="assets/imgs/slide_audio.png">
    </div>
    <div class="text_box">
        <p>The audio control plays music with the call-outs to provide a way to practice without looking at the video. 
          </p>
          <br>
          <p>Speed controls are offered to match tempo with ability</p>
      </div>

</ion-slide>
  </ion-slides>
</ion-content>
