page-slideshow {
  img{
    // border-width:1px;
    // border-style: solid;
    // border-color: color($colors, secondary);

    // //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
      
      
  }
  .pic1 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    //border-style: solid;
    //border-color: color($colors, secondary);
    width:80%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }
  .pic2 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    border-style: solid;
    border-color: color($colors, secondary);
    width:70%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }
  .pic3 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    //border-style: solid;
    //border-color: color($colors, secondary);
    width:60%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }

  .pic4 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    //border-style: solid;
    //border-color: color($colors, secondary);
    width:100%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }

  .pic5 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    //border-style: solid;
    //border-color: color($colors, secondary);
    width:80%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }

  .pic6 {
    margin-top:0px;
    margin-bottom:10px;
    border-width:1px;
    //border-style: solid;
    //border-color: color($colors, secondary);
    width:100%;

    //box shadow stuff
    // -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51); 
    // box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.51);
  }

  // li{
  //   font-size: 0.8em;
  //   text-align: left;
  // }

  .text_box {
    width:80%;
    margin:auto;

  }

  p{
    font-size:0.8em;
    text-align: justify;
  }

  // .inline1{
  //   transform: translateY(7px);
  // }
  // .inline2{
  //   transform: translateY(15px);
  // }

  // .inline3{
  //   //line-height:1.8;
  // }

  // .inline4{
  //   text-align:center;
  // }

  // ion-icon{
  //   color:color($colors, secondary);
  //   font-size: 3.0em !important;
  // }


  // .size-ion-icon {
  //   margin-top: 40%;
  //   font-size: 7em;
  // }

  // h2 {
  //   margin-top: 80% !important;
  //   font-weight: bold;
  //   font-size: 1em;
  // }

  // a {
  //   margin: 0 auto;
  //   font-size: 1.1em;
  //   transform: translateY(-4px);
  // }
  // p {
  //   width: 90%;
  //   display: block;
  //   margin: 0 auto;
  //   font-size: 0.9em;
  // }

  // .swiper-pagination-bullet-active {
  //   background: #c400ff;
  // }

  // .swiper-pagination {
  //   bottom: 12% !important;
  // }

  // #skip {
  //   position: absolute;
  //   bottom: 20px;
  //   width: 100%;
  //   background: none !important;
  //   text-align: center;
  //   cursor: pointer;
  //   z-index: 5;
  // }
}
