<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <div [innerHTML]="html">
  
</div>
<iframe src="http://inglesconelgringo.com/"></iframe>
<iframe width="100%" height="100%" frameborder="0" src="https://cnn.com"></iframe>
<iframe class= 'webPage' name= "samplePage" src="https://www.google.co.in/"></iframe> -->
<!-- <iframe src="http://www.tawerna-gdynia.pl/index.php/gallery-album" style="width: 100%; height: 100vh;"></iframe> -->

<button ion-button (click)="openWithSystemBrowser('http://inglesconelgringo.com/salsa-connect/')">Open with System browser</button>
<button ion-button (click)="openWithInAppBrowser('http://inglesconelgringo.com/salsa-connect/')">Open with In App browser</button>
<button ion-button (click)="openWithCordovaBrowser('http://inglesconelgringo.com/salsa-connect/')">Open with Cordova browser</button>
<button ion-button (click)="openWithBrowserTab('http://inglesconelgringo.com/salsa-connect/')">Open with tabs browser</button>

</ion-content>
