<!--
  Generated template for the SwiperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>swiper</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div class="card-container" *ngIf="ready">
    <sc-card padding *ngFor="let attendant of attendants" [orientation]="cardDirection" [tinder-card]="cardOverlay" [callDestroy]="attendant.destroyEvent"
      [callLike]="attendant.likeEvent" (onLike)="onCardInteract($event)">

      <div class="user_img" [style.background-image]="attendant.asBg"></div>
      <img [src]="attendant.asBg">
    
    </sc-card>
  </div>


</ion-content>
