<!--
  Generated template for the LogLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Log-Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p *ngFor="let result of results;index as i">{{result}}</p>
</ion-content>
