<ion-header>

  <ion-navbar>
    <ion-title>Current Classes</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>    
  <div class="flex_box">
    <div *ngFor="let class of classArray; index as i; let first = first;"  [ngClass]="{first: first}">
      <ng-container *ngIf="class.shortName!='Tester-only'">
      <button [ngClass]="class.level" ion-button (click)="openClass(class.shortName,i)">{{class.shortName}}</button>
    </ng-container>
    <ng-container *ngIf="class.shortName=='Tester-only'">
      <ng-container *ngIf="user.email=='william.terrill@gmail.com'">
          <button [ngClass]="class.level" ion-button (click)="openClass(class.shortName,i)">{{class.shortName}}</button>
      </ng-container>
      </ng-container>
    </div>
    <button color="secondary" ion-button (click)="openClass('All',-1)">All Students</button>
  </div>
</ion-content>
