page-accounts-entry {
    .flex_box{
        display:flex;
        //justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
    }
    .Beginner{
        background:green;
    }
    .Intermediate{
        background-color:yellow;
    }
    .Advanced{
        background-color:red;
    }
    .first{
        margin-top: 10vh;
    }
    .button{
        margin-bottom: 1.5vh;
    }

}
