<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>VideoPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <div class="card">
          <ion-item>
              <div class="video-container">
                  <iframe allowfullscreen="true" src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315"></iframe>
              </div>
          </ion-item>
      </div>
      <div class="card">
          <ion-item>
              <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
              </div>
          </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <video width="320" height="240" controls="controls" preload="metadata"controlsList="nodownload" webkit-playsinline="webkit-playsinline" class="videoPlayer">
              <source src="http://techslides.com/demos/sample-videos/small.mp4#t=0.1" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
